@model Recipe
@{ 
    string title = ViewBag.Action + "Recipe";
    ViewBag.Title = title;
}

<h2>@ViewBag.Title</h2>
@{ 
    //enctype allows multipart/form-data allows files to be uploaded
}
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="CookTime">Cook time</label>
        <input asp-for="CookTime" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Ingredients">Ingredients</label>
        <input asp-for="Ingredients" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="File">Add Image</label>
        <input asp-for="File" class="form-control" type="file" accept=".jpeg, .jpg, .png, .img">
    </div>

    <input type="hidden" asp-for="RecipeId" />
    <input type="hidden" asp-for="Username" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Home" asp-action="Index"
       class="btn btn-primary">Cancel</a>
</form>