<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QuickMeals</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    @RenderSection("Scripts", required: false)
    <style>
        @@font-face {
            font-family: 'lightbeach';
            src: url('/fonts/lightbeach.otf') format('opentype');
        }

        .default-font {
            font-family: 'Times New Roman'
        }


        body {
            font-weight: 300;
            font-size: 20px;
            font-family: lightbeach;
            background-image: url("/RecipeImages/bg.png");
        }

        .bg-green {
            background-color: limegreen;
        }

        .bg-lightgreen {
            background-color: #b8ffb9;
        }

        .border-fancy {
            border-style: dotted;
            border-width: 4px;
            border-radius: 8px;
        }

        ::-webkit-scrollbar {
            width: 15px;
        }

        ::-webkit-scrollbar-track {
            background-color: lightgreen;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #39fc03;
        }
    </style>
</head>
<body>
    <header>
        <nav style="" class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark bg-green text-light border-bottom box-shadow mb-3">
            <div class="container">
                <img src="~/RecipeImages/recipe.png" alt="recipe book icon" width="50" height="50">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h2 style="margin-top:0">QuickMeals</h2></a>
                <div class="">
                    @using (Html.BeginForm("Results", "Search", FormMethod.Get))
                    {
                        <ul class="nav">
                            <li class="text-dark">@Html.TextBox("searchName", ViewBag.CurrentFilter as string)</li>
                            <li class="text-dark"><input type="submit" value="Search" /></li>
                        </ul>
                    }
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
                    <ul class="navbar-nav flex-grow-1 border-fancy">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Recipe" asp-action="Index">Browse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Search" asp-action="Advanced">Advanced Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Favorite" asp-action="Index">Favorites</a>
                        </li>
                        @if (ViewBag.SignedIn != null)
                            if (ViewBag.SignedIn)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Recipe" asp-action="Add">Add recipe</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Recipe" asp-action="MyRecipes">My recipes</a>
                                </li>
                            }
                        @if (ViewBag.SignedIn != null)
                            if (!ViewBag.SignedIn)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="SignIn" asp-action="Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="SignIn" asp-action="SignIn">Sign in</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="SignIn" asp-action="SignOut">Sign out</a>
                                </li>
                            }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div style="margin-bottom:7rem;" class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer style="position:absolute; bottom: 0px;" class="border-top footer text-muted bg-green">
        <div class="container text-white">
            &copy; 2020 - QuickMeals
        </div>
    </footer>
</body>
</html>
