@{
    ViewData["Title"] = "Sign In";
}

<div class="container text-center default-font">
    <h1>Sign Out</h1>
    <h4>@ViewBag.User.Username, are you sure you want to sign out?</h4>
    <hr />
    <div class="row mt-5">
        <div class="col-6">
            <form asp-action="SignOut" method="post">
                <button class="btn rounded btn-primary pl-5 pr-5" type="submit">Sign out</button>
            </form>
        </div>
        <div class="col-6">
            <a class="btn rounded btn-secondary pl-5 pr-5" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </div>
</div>